In [70]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer

from string import punctuation

from wordcloud import WordCloud,STOPWORDS

from sklearn.preprocessing import MultiLabelBinarizer,OneHotEncoder
from sklearn.compose import ColumnTransformer

# Variables
file_name = 'test.csv'
separator = ','
random_state = 43

# Directives
%matplotlib inline
np.random.seed(random_state)

In [71]:
df1 = pd.read_csv(file_name, sep=separator, encoding = "ISO-8859-1") #dataset not in utf-8

In [72]:
df1.shape

(10, 13)

In [73]:
df1.tail()

,Sl.No,Title,Description,Genres,Cast,Director,Production Country,Added On,Year,Text8,Duration(in Mins),Season,Rating
5,6,Cowboy Up,Rising rodeo star Ely Braxton is recovering fr...,"Action, Drama","Kiefer Sutherland, Marcus Thomas, Daryl Hannah...",Xavier Koller,NaN,"June 19, 2022",2001,PG-13,105,NaN,NaN
6,7,Crazy Love,One of the longest-running tabloid stories in ...,Documentary,"Burt Pugach, Linda Pugach",Dan Klores,NaN,"June 19, 2022",2007,PG-13,92,NaN,NaN
7,8,Dr. Jekyll and Mr. Hyde,An early treatment of Robert Louis Stevenson's...,"Drama, Horror, Science Fiction","Martha Mansfield, Charles Lane, John Barrymore...",John S. Robertson,NaN,"June 19, 2022",1920,13+,82,NaN,NaN
8,9,Evocateur: The Morton Downey Jr. Movie,"Rude, crude and beyond outrageous, Morton Down...",Documentary,Morton Downey Jr,"Seth Kramer, Daniel A. Miller, Jeremy Newberger",NaN,"June 19, 2022",2012,R,90,NaN,NaN
9,10,Fast Bullets,Vintage western action starring Tom Tyler (1936).,Western,"Tom Tyler, Rex Lease, Margaret Nearing",Harry Webb,NaN,"June 19, 2022",1936,13+,58,NaN,NaN

In [74]:
df1['Director'].str.split(',')

0                                         [Derek Cole]
1                                  [William K. Howard]
2                                        [Bud Pollard]
3                                    [Harry L. Fraser]
4                                       [Richard Wong]
5                                      [Xavier Koller]
6                                         [Dan Klores]
7                                  [John S. Robertson]
8    [Seth Kramer,  Daniel A. Miller,  Jeremy Newbe...
9                                         [Harry Webb]
Name: Director, dtype: object

In [75]:
def preprocess_text2(text):

    # Tokenize the text
    
    tokens = word_tokenize(text)
    
    # Remove stop words

    filtered_tokens = [token for token in tokens if token not in stopwords.words('english')]
    
    # Join the tokens back into a string

    processed_text = ' '.join(filtered_tokens)

    return processed_text

# apply the function

df1['Genres'] = df1['Genres'].str.strip()
df1['Genres'] = df1['Genres'].str.replace(" , ",",")
df1['Genres'] = df1['Genres'].str.replace(", ",",")
df1['Genres'] = df1['Genres'].str.replace(" ,",",")

df1['Director'] = df1['Director'].str.strip()
df1['Director'] = df1['Director'].str.replace(" , ",",")
df1['Director'] = df1['Director'].str.replace(", ",",")
df1['Director'] = df1['Director'].str.replace(" ,",",")

NameError: name 'df1' is not defined

In [24]:
mlb = MultiLabelBinarizer()

genres = pd.DataFrame(mlb.fit_transform(df['Genres'].str.split(',')), columns = mlb.classes_, index = df.index)

In [11]:
mlb.fit_transform(df['Director'].str.split(','))
mlb.classes_
director = pd.DataFrame(mlb.fit_transform(df['Director'].str.split(',')), columns = mlb.classes_, index = df.index)

TypeError: 'float' object is not iterable

In [318]:
director

,BudPollard,DanKlores,DanielA.Miller,DerekCole,HarryL.Fraser,HarryWebb,JeremyNewberger,JohnS.Robertson,RichardWong,SethKramer,WilliamK.Howard,XavierKoller
0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,1,0
2,1,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0,1
6,0,1,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,0,0
8,0,0,1,0,0,0,1,0,0,1,0,0
9,0,0,0,0,0,1,0,0,0,0,0,0

In [286]:
result = pd.concat([df,genres,director],axis=1, join='inner')

In [287]:
result

,Sl.No,Title,Description,Genres,Cast,Director,Production Country,Added On,Year,Text8,...,Bud Pollard,Dan Klores,Derek Cole,Harry L. Fraser,Harry Webb,John S. Robertson,Richard Wong,Seth Kramer,William K. Howard,Xavier Koller
0,1,An American Ghost Story,Paul Anderson (Stephen Twardokus) and his girl...,Horror,"Stephen Twardokus, Jon Gale, Liesel Kopp, Wend...",Derek Cole,NaN,"June 19, 2022",2012,18+,...,0,0,1,0,0,0,0,0,0,0
1,2,Back Door to Heaven,"A young kid, who starts out stealing small thi...","Action,Drama","Wallace Ford, Stuart Erwin",William K. Howard,NaN,"June 19, 2022",1939,7+,...,0,0,0,0,0,0,0,0,1,0
2,3,Big Timers,A wealthy young society man is dating a beauti...,"Arts,Entertainment,Culture,Comedy","Stepin Fetchit, Francine Everett",Bud Pollard,NaN,"June 19, 2022",1945,7+,...,1,0,0,0,0,0,0,0,0,0
3,4,Brand of the Devil,Jolley is the leader of the Devil's Brand gang...,Western,"Dave O'Brien, James Newill",Harry L. Fraser,NaN,"June 19, 2022",1944,13+,...,0,0,0,1,0,0,0,0,0,0
4,5,Come As You Are,Three young men with disabilities (Grant Rosen...,"Comedy,Drama,Romance","Grant Rosenmeyer, Hayden Szeto, Ravi Patel, Ga...",Richard Wong,NaN,"June 19, 2022",2019,18+,...,0,0,0,0,0,0,1,0,0,0
5,6,Cowboy Up,Rising rodeo star Ely Braxton is recovering fr...,"Action,Drama","Kiefer Sutherland, Marcus Thomas, Daryl Hannah...",Xavier Koller,NaN,"June 19, 2022",2001,PG-13,...,0,0,0,0,0,0,0,0,0,1
6,7,Crazy Love,One of the longest-running tabloid stories in ...,Documentary,"Burt Pugach, Linda Pugach",Dan Klores,NaN,"June 19, 2022",2007,PG-13,...,0,1,0,0,0,0,0,0,0,0
7,8,Dr. Jekyll and Mr. Hyde,An early treatment of Robert Louis Stevenson's...,"Drama,Horror,ScienceFiction","Martha Mansfield, Charles Lane, John Barrymore...",John S. Robertson,NaN,"June 19, 2022",1920,13+,...,0,0,0,0,0,1,0,0,0,0
8,9,Evocateur: The Morton Downey Jr. Movie,"Rude, crude and beyond outrageous, Morton Down...",Documentary,Morton Downey Jr,"Seth Kramer, Daniel A. Miller, Jeremy Newberger",NaN,"June 19, 2022",2012,R,...,0,0,0,0,0,0,0,1,0,0
9,10,Fast Bullets,Vintage western action starring Tom Tyler (1936).,Western,"Tom Tyler, Rex Lease, Margaret Nearing",Harry Webb,NaN,"June 19, 2022",1936,13+,...,0,0,0,0,1,0,0,0,0,0